@use "./variables.scss" as *;

// put your custom CSS here!
blockquote.callout.infobox[data-callout-metadata="wikipedia"] {
    text-align: start !important;
    margin: -0.5em 0 2em 0 !important;
    padding: 0 !important;
    border: 1px solid var(--table, var(--background-modifier-border)) !important;

    @media (min-width: calc(640px)) {
        margin: 0.5em 0 1em 35px !important;
        max-width: 320px !important;
        width: auto !important;
        float: right !important;
        clear: right !important;
    }

    @media (max-width: calc(639px)) {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        float: none !important;
        position: relative !important;
        display: flex !important;
        flex-flow: column nowrap !important;
        z-index: 0 !important;
    }

    .callout-title {
        display: none !important;
    }

    .callout-content {
        vertical-align: middle !important;
        unicode-bidi: isolate !important;
        padding: 0 !important;
        border: 0 !important;
        font-size: 0.9em !important;

        h1 {
            font-size: 1.25em !important;
            padding: 7px 10px !important;
            font-weight: bold !important;
            width: 100% !important;
        }

        h4 {
            line-height: normal !important;
            padding: 0.2em !important;
            width: 100% !important;
            font-weight: bold !important;
            font-size: inherit !important;
        }

        thead {
            display: none !important;
        }
    }
}